# data*/
venv*/
log.txt


# Ignore compiled Python files
__pycache__/
*.pyc
*.pyo

app/data/*
app/database/*

app/fantasy/*

treed.txt
temp*
sample*

*.log
.vscode/
.idea/
.ipynb_checkpoints/

*.egg
*.dist-info/

!.gitignore