venv*/

log.txt
*.log

__pycache__/
*.pyc
*.pyo
*.egg
*.dist-info/

.vscode/
.idea/
.ipynb_checkpoints/

*.zip


app/data/*
app/database/*
app/fantasy/*

app/model/data/*

*.sh
treed.txt
temp*
sample*
test*


!.gitignore
