venv*/

log.txt
*.log

__pycache__/
*.pyc
*.pyo
*.egg
*.dist-info/

.vscode/
.idea/
.ipynb_checkpoints/

*.zip


app/data/*
app/database/*
app/fantasy/*

tree.sh
treed.txt
temp*
sample*


!.gitignore
